<form action="/landmarks" method="post">

<label>Create a new Landmark:</label>  <input type="text" name="landmark[name]" id="landmark_name" value="">
<label>Year Created: </label> <input type="number" name="landmark[year_completed]" id="landmark_year_completed" value="">

<input type="submit" name="" value="Create New Landmark">
</form>
